<style type="text/css">
    /* Styles pour la grille */
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* 5 colonnes de largeur égale */
        grid-gap: 10px; /* Espacement entre les cellules de la grille */
    }
    
    .grid-item {
        /* Styles pour les éléments de la grille */
        /* Vous pouvez personnaliser ces styles en fonction de vos besoins */
        background-color: lightgray;
        padding: 20px;
        text-align: center;
    }
</style>
    
<h1><%= type_vet %></h1>
<div class="grid">
    <% const vetements = items; %>
    <% var numItemsPerRow = 5; %>
    <% var numRows = Math.ceil(vetements.length / numItemsPerRow); %>

    <% for (var i = 0; i < numItemsPerRow; i++) { %>  <!-- On boucle d'abord sur le nombre d'éléments par ligne -->
    <div class="grid-row">
        <% for (var j = 0; j < numRows; j++) { %> <!-- Puis on boucle sur le nombre de lignes -->

            <% var index = j * numItemsPerRow + i; %>
            <% if (index < vetements.length) { %>
            <div class="grid-item">
                <img src="/public/img_vetements/chemise_carreaux_rouges.jpg">
                <div>Nom : <%= vetements[index].nom %></div>
                <div>Taille : <%= vetements[index].taille %></div>
                <div>Prix : <%= vetements[index].prix %> €</div>
            </div>
            <% } %>
        <% } %>
    </div>

    <% } %>
</div>

</div>