<style type="text/css">
    .logo {
        width: 50px;
        height: 50px;
    }
</style>
<div class="logo">
    <%- include("user_icon.svg") %>
</div>
<div class="social-links">
    <a href="#">Facebook</a>
    <a href="#">Instagram</a>
    <a href="#">Twitter</a>
    <a href="#">Youtube</a>
</div>
<div class="contact-info">
    <p>Copyright info</p>
    <!-- TODO ajouter des infos sur notre site -->
</div>