<div class="logo">
    <!--
        <img src=""> 
        DALL-E était hors service pour la confection  du logo
    -->
</div>
<div class="social-links">
    <a href="#">Facebook</a>
    <a href="#">Instagram</a>
    <a href="#">Twitter</a>
    <a href="#">Youtube</a>
</div>
<div class="contact-info">
    <p>Copyright info</p>
    <!-- TODO ajouter des infos sur notre site -->
</div>