<nav>
    <div class="list-button-container">
        <button id="list-button">
            #
        </button>
    </div>
    <div class="list-container" id="categories">
        <div class="close-list-container">
            <button id="close-list-button">X</button>
        </div>
        <ul >
            <%
                for (var i = 0; i < categories.length; i++) {
                %>
                    <li id="li<%=i%>">
                        <a href="#"><%=categories[i].cat%></a>
                    </li>
                <% 
                }
            %>
        </ul>
    </div>
    <div class="title-container">
        <h1>Swagger Saver</h1>
    </div>
    <div class="customer-account-container">
        <a href="#">
            <!-- <img src="images/utilisateur.jpg" id="utilisateur"> -->
        </a>
    </div>
    <div class="basket-container">
        <a href="#">
            <!-- <img src="images/panier.jpg" id="panier"> -->
        </a>
    </div>
    
    <script>
        var list = document.getElementById("categories");
        document.getElementById("list-button").addEventListener("mousedown",
        function() {
            list.style.left = "0px";
        });
        document.getElementById("close-list-button").addEventListener("mousedown",
        function() {
            list.style.left = "-25%";
        });
    </script>

</nav>