<nav>
    <div class="list-button-container">
        <button id="list-button">
            #
        </button>
    </div>
    <div class="list-container" id="categories">
        <div class="close-list-container">
            <button id="close-list-button">X</button>
        </div>
        <ul >
            <%
                for (var i = 0; i < categories.length; i++) {
                %>
                    <li id="li<%=i%>">
                        <a href="#"><%=categories[i]%></a>
                    </li>
                <% 
                }
            %>
        </ul>
    </div>
    <div class="title-container">
        <h1>Titre</h1>
    </div>
    <div class="customer-account-container">
        <a href="#">
            <!-- <img src="images/utilisateur.jpg" id="utilisateur"> -->
        </a>
    </div>
    <div class="basket-container">
        <a href="#">
            <!-- <img src="images/panier.jpg" id="panier"> -->
        </a>
    </div>
    
    <script>
        var button = document.getElementById("list-button");
        var list = document.getElementById("categories");
        var displayed = false;
        button.addEventListener("mousedown", function() {
            if (displayed) {
                displayed = false;
                list.style.display = "none";
            } else {
                displayed = true;
                list.style.display = "flex";
            }
        });
    </script>

</nav>