<div class="navigation">
    <div class="toggle"><span></span></div>
    <ul>
        <li style="--i:0;"><a href="#">Chemise</a></li>
        <li style="--i:1;"><a href="#">Veste</a></li>
        <li style="--i:2;"><a href="#">Tshirt</a></li>
        <li style="--i:3;"><a href="#">Sweat</a></li>
        <li style="--i:4;"><a href="#">Jeans</a></li>
        <li style="--i:5;"><a href="#">Joggings</a></li>
        <li style="--i:6;"><a href="#">Accesoires</a></li>
        </ul>
    <script src="header.js"></script>
</div>
<h1>Titre</h1>
<a href="#">
    <!-- <img src="images/utilisateur.jpg" id="utilisateur"> -->
</a>
<a href="#">
    <!-- <img src="images/panier.jpg" id="panier"> -->
</a>