<!DOCTYPE html>
<script type="text/javascript">
	if ( window.history.replaceState ) {
		window.history.replaceState( null, null, window.location.href );
	}
</script>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/public/css/style.css" rel="stylesheet" type="text/css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<title>Swagger Saver</title>
</head>
<body>
	<header>
		<%- include('../partials/header', categories, total, search)%>
	</header>
	<main>
		<%- include('../partials/welcome_body', vetements)%>
	</main>
	<footer>
		<%- include('../partials/footer');%>
	</footer>
</body>
</html>