<!DOCTYPE html>
<html>
<head>
	<title>Page d'Erreur</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			text-align: center;
			margin-top: 100px;
		}

		h1 {
			font-size: 28px;
			color: #333;
		}

		p {
			font-size: 18px;
			color: #777;
		}

		#error-link {
			font-size: 20px;
			margin-top: 40px;
			text-decoration: none;
			color: #4CAF50;
		}
	</style>
</head>
<body>
	<h1>Oups, une erreur s'est produite !</h1>
	<a id="error-link" href="http://localhost:8080/swagger">Cliquez ici pour revenir à la page principale</a>
</body>
</html>
